.button-primary {
    height: var(--height-button-1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.188rem 1.5rem;
    border-radius: var(--radius-1);
    color: var(--color-grey-7);
    font-size: var(--font-size-5);
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.button-rosa {
    background-color: var(--color-brand-2);
}
.button-rosa:disabled {
    opacity: 40%;
    cursor: auto;
}
.button-rosa:disabled:hover {
    background-color: var(--color-brand-2);
}
.button-rosa:hover {
    background-color: var(--color-brand-1);
}

.button-black {
    background-color: var(--color-grey-3);
}
.button-black:hover {
    background-color: var(--color-grey-4);
}

.button-second-rosa {
    height: var(--height-button-2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
    border-radius: var(--radius-2);
    color: var(--color-grey-7);
    font-size: var(--font-size-5);
    font-weight: 500;
    background-color: transparent;
    border: 1px solid var(--color-grey-7);
    cursor: pointer;
    transition: 0.3s;
}
.button-second-rosa:hover {
    background-color: var(--color-brand-2);
    border: 1px solid var(--color-brand-2);
}

.input-login {
    height: var(--height-button-1);
    background-color: var(--color-grey-2);
    color: #fff;
    border-radius: var(--radius-2);
    border: 1px solid rgba(255, 255, 255, 0.12);
    outline: none;
    transition: 0.3s;
    padding-left: 0.625rem;
}

.input-login:focus {
    border: 1px solid #fff;
}

.input-login::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: var(--font-size-5);
    font-weight: 400;
}

.input-login:-webkit-autofill {
    -webkit-box-shadow:  0 0 0 30px var(--color-grey-2) inset;
    -webkit-text-fill-color: #fff !important;
}

.input-fail {
    border: 1px solid var(--color-brand-2);
}